@model IEnumerable<Pessoa>

@{
    ViewBag.Title = "Pessoas";
}


<div class='d-none d-sm-block'>            
    <h1 class='h2 mt-4'>
                 
        <a asp-action='Criar' class='btn btn-primary' title='Criar Novo'>
            <i class='fa fa-plus'></i>
        </a>            
        
        <i class='fa fa-user'></i>
        @ViewBag.Title

    </h1>

    <hr>
</div> 

@if (Model.Any())
{
    <table class="table table-hover datatable-show-all">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ativo / Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.Nome </td>
                    <td>

                        <form asp-action="InverterAtivo" method="POST">    
                            <input type="hidden" name="id" value="@item.Id">
                            <label class="switch">
                                <input class="InverterAtivo" type="checkbox" @(item.Ativo ? "checked" : "")>
                                <span class="slider round"></span>
                            </label>            
                            <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-link " title="Editar">
                                <i class="fa fa-edit"></i>
                            </a>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{    
    <p class='h2 text-center mt-4'>
        😅 
        <br>
        <br>
        Ainda não há registros nesta página.
    </p>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_DataTable");} 
}